.mw_main--inner{
	.mw_playcontrols{
		float:left;
		background: rgba(0,0,0,0.5);
		width: 15%;
		text-align: center;
		padding: 15px 0;
	}
}

.mw_page-scroller{
	margin: 10px 0;
	margin-bottom: 0;
}

.mw_main--inner{
	.motionwiki_timeline{
		width: 85%;
		padding: 65px 0;
		margin-bottom: -15px !important;
		float: left;

		.datepicker-container{
			width: 10%;
			float: left;
			text-align: center;
		}

		.slider-container{
			width: 80%;
			float: left;
			margin-top: 5px
		}

		.timeline-temporary{
			width: 80%;
			float: left;
			height: 10px;
			text-align: center;
			background: @green;
		}
	}
}