.mw_playcontrols{
	float:left;
	background: rgba(0,0,0,0.5);
	width: 15%;
	text-align: center;
	padding: 40px 0;
}

.motionwiki_timeline{
	width: 85%;
	float: left;

	.datepicker-container{
		width: 25%;
		float: left;
	}

	.timeline-temporary{
		width: 50%;
		float: left;
		height: 10px;
		text-align: center;
		background: @green;
	}
}