lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.sublime-workspace
*.pyc

pids
logs
results

npm-debug.log
lint.json

private/playground/*
private/reference
public/includes/js/mw
src/extensions/output
src/extensions/certificates/chrome.real.pem
src/components
node_modules
dist
tmp
build