<img src="https://www.taoeffect.com/other/mw/includes/img/motionwiki_logo.png"/> <!--Logo-->
<div class="playcontrols-buttons--group motionwiki btn-group clearfix">
	<button ng-click="backward()" type="button" class="btn btn-inverse motionwiki" ><i class = "icon icon-white icon-fast-backward"></i></button>
	<button ng-click="play()" type="button" class="btn btn-inverse motionwiki" ><i class="icon icon-white" ng-class="{'icon-play': !active, 'icon-pause': active}"></i></button>
	<button ng-click="forward()" type="button" class="btn btn-inverse motionwiki" ><i class = "icon icon-white icon-fast-forward"></i></button>
	<!--<a ng-click="backward()"class="icon-xlarge icon-white icon-fast-backward "></a>-->
	<!--<a ng-click="play()" class="icon-xlarge icon-white motionwiki" ng-class="{'icon-play': !active, 'icon-pause': active}"></a>
	<a ng-click="forward()"class="icon-xlarge icon-white icon-fast-forward motionwiki"></a>-->
</div>
<div mw-page-scroller class="motionwiki clearfix"></div mw-page-scroller>

