.playcontrols-buttons--group {
	font-size: 2em;
	color: rgba(255,255,255,0.7);
	transition: color 0.5s linear;
	@import "../base/glyphicons";
	span{
		cursor: pointer;
	}
	span:hover {
		color: rgba(255,255,255,1);
	}
}

